/*______XX______RESET______XX______*/

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-size: 100%;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

ul {list-style: none;}
img {max-width: 100%;}
body{background-color: #f5f5f5;}

/*______XX______CONTAINER______XX______*/
.containerL{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center
}

.login{
    width: 70%;
    height: 250px;
    display: flex;
    margin-top: 10px;
    color: #f5f5f5;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 150px;
    background: #343A40;
    flex-direction: column;
    box-shadow: 6px 0px 7px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2{
    margin-top: 20px;
    color: #f5f5f5;
    margin-bottom: 20px;
}


.boxInput{
    margin-bottom: 20px;
    
}

.boxBtn{
    color: #f5f5f5;
    padding: 9px 10px;
    border-radius: 10px;
    background: #495057;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}