
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-size: 100%;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
img {max-width: 100%;}
a {text-decoration: none;}
body{background-color: #f5f5f5;}



.container{
    width: 100%;
    float: left;
    display: flex;
    padding: 10px 10px;
    align-items: center;
}


.validacao-cadastro{
    display: flex;
    margin: 50px auto;
    align-items: center;
    justify-content: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.resultado-cadastro{
    width: 280px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.i{
    font-size: 180px;
    color: #8f8e8e;
    margin-bottom: 20px;
}

.resultado{
    font-size: 18px;
    color: #8f8e8e;
    text-align: center;
    margin-bottom: 20px;
}

.info-home-new{
    font-size: 15px;
    color: #8f8e8e;
    text-align: center;
    margin-bottom: 10px;
}

.btn-home-new{
    display: flex;
    justify-content: space-around;
}

.btn{
    width: 110px;
    height: 35px;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: #8f8e8e;
}

.a{
    color: #F8F8F8;
}

.btn{
    width: 160px;
    height: 35px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: #8f8e8e;
}

.a{
    color: #F8F8F8;
}


/*______XX______MOBILE FIRST______XX______*/

/*__SMALL DEVICES - SMARTPHONES__*/
@media screen and (min-width: 320px){
    .i{
        font-size: 50px;
        
    }

    .resultado{
        font-size: 15px;
    }

    .info-home-new{
        font-size: 10px;
    }

    .btn-home-new button{
        width: 90px;
        height: 30px;
        font-size: 10px;
    }
    
}


/*__SMALL DEVICES - SMARTPHONES__*/
@media screen and (min-width: 480px){

    .i{
        font-size: 100px;
        
    }

    .resultado{
        font-size: 20px;
    }

    .info-home-new{
        font-size: 15px;
    }

    .btn-home-new button{
        width: 100px;
        height: 50px;
        font-size: 12px;
    }
}


/*__MEDIUM DEVICES - TABLETS & DESKTOPS__*/
@media screen and (min-width: 960px){

    .i{
        font-size: 160px;
        
    }
    
    .resultado{
        font-size: 20px;
    }

    .info-home-new{
        font-size: 15px;
    }

    .btn-home-new button{
        width: 100px;
        height: 50px;
        font-size: 12px;
    }
    
}

